<div ng-controller="viewTaskCtrl as ctrl">

    <h2>Task {{task.id}}</h2>
    <table class="table table=hover">
        <!--<thead>-->
        <!--<tr>-->
            <!--<th scope="col">Title</th>-->
            <!--<th scope="col">Description</th>-->
            <!--<th scope="col">Due date</th>-->
            <!--<th scope="col">Status</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <tr ng-repeat="task in tasks">
            <td>{{task.title}}</td>
        </tr>

    </table>
</div>