<div ng-controller="ViewUsersListCtrl as ctrl">

    <h2>Users list</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <table class="table table-hover">
                    <tbody>
                    <tr class="table-light" ng-repeat="user in usersL" ng-click="showSelectedUser(user)">
                        <td>{{user.login}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <div class="card border-secondary mb-5">
                    <div class="card-header">User: {{selectedUser.login}}</div>
                    <div class="card-body">
                        <h5 class="card-title">User id: {{selectedUser.id}}</h5>
                        <h5 class="card-text">User email: {{selectedUser.email}}</h5>
                        <h5 class="card-title">User role:</h5>
                        <h5 class="card-title">Assigned tasks:</h5>
                        <div>
                            <table class="table table-hover">
                                <tr ng-repeat="task in selectedUser.tasks">
                                    <td># {{task.title}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>