<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/cosmo/bootstrap.min.css">


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#!/viewBoard">Board</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#!/addTask">Add Task</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/viewTasksList">Tasks List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/viewUsersList">Users List</a>
            </li>
        </ul>

        <div class="btn-group" role="group" aria-label="Login">
            <li class="nav-item">
                <a class="btn btn-secondary" href="#!/viewLogin">Login</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-secondary" href="#!/viewRegister">Register</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-danger" ng-click="logout()" href="#!/viewLogin">Logout</a>
            </li>
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" ng-click="logout()">Logout</a>-->
            <!--</li>-->
        </div>

        <!--tu zakomentowany jest search-->

        <!--<form class="form-inline my-2 my-lg-0">-->
            <!--<input class="form-control mr-sm-2" placeholder="Search" type="text">-->
            <!--<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>-->
        <!--</form>-->
    </div>
</nav>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<main role="main" class="container">
    <div ng-view></div>
</main>


<div>Angular seed app: v<span app-version></span></div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="view1/view1.js"></script>
<script src="view2/view2.js"></script>
<script src="viewTask/viewTask.js"></script>
<script src="addTask/addTask.js"></script>
<script src="viewTasksList/viewTasksList.js"></script>
<script src="viewUsersList/viewUsersList.js"></script>
<script src="viewUser/viewUser.js"></script>
<script src="viewLogin/viewLogin.js"></script>
<script src="viewRegister/viewRegister.js"></script>
<script src="viewBoard/viewBoard.js"></script>
<script src="service/auth-service.js"></script>
<script src="service/TaskService.js"></script>
<script src="service/UserService.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
