<div ng-controller="ViewTasksListCtrl as ctrl">

    <h2>Tasks list</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <table class="table table-hover">

                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Due date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Assigned User</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="task in tasks" ng-click="showSelectedTask(task)">

                        <td>{{task.title}}</td>
                        <td>{{task.dueDate}}</td>
                        <td>{{task.taskStatuses.name}}</td>
                        <td>{{task.user}}</td>

                    </tr>
                </table>
            </div>
            <div class="col-md-5">
                <div class="card border-secondary mb-5">
                    <div class="card-header">Id: {{selectedTask.id}} Title: {{selectedTask.title}}</div>
                    <div class="card-body">
                        <h5 class="card-title">Task status: {{selectedTask.taskStatuses.name}}</h5>
                        <p class="card-text">Description: {{selectedTask.description}}</p>
                        <h5 class="card-title">Add date: {{selectedTask.addedTime}}</h5>
                        <h5 class="card-title">Due date: {{selectedTask.dueDate}}</h5>

                        <input class="btn btn-success" type="button" ng-click="ctrl.assignLoggedInUser(selectedTask.id)" value="Assign">
                        <input class="btn btn-danger" type="button" ng-click="ctrl.removeSelectedTask(selectedTask.id)" value="Remove">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>