<div ng-controller="ViewLoginCtrl as ctrl">
    <div class="container">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-5">
                    <label for="login">Login:</label>
                    <input class="form-control" type="text" id="login" placeholder="Enter login"
                           ng-model="ctrl.loginUser.login">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5">
                <label for="password">Password:</label>
                <input class="form-control" type="password" id="password" placeholder="Enter password"
                       ng-model="ctrl.loginUser.password">
            </div>
        </div>

        <div class="form-group">
            <!--<div class="col-md-3"></div>-->
            <div class="col-md-3">
                <input class="btn btn-success" type="button" ng-click="ctrl.sendLoginForm()" value="Login">
            </div>
        </div>
    </div>
</div>