<div ng-controller="ViewRegisterCtrl as ctrl">
    <div class="containter">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-5">
                    <label for="login">Login:</label>
                    <input class="form-control" type="text" id="login" placeholder="Enter login"
                           ng-model="ctrl.registerUser.login">
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-5">
                    <label for="email">Email:</label>
                    <input class="form-control" type="text" id="email" placeholder="Enter e-mail"
                           ng-model="ctrl.registerUser.email">
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-5">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" id="password" placeholder="Enter password"
                           ng-model="ctrl.registerUser.password">
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-5">
                    <label for="password-confirm">Password:</label>
                    <input class="form-control" type="password" id="password-confirm"
                           placeholder="Password confirmation"
                           ng-model="ctrl.registerUser.passwordconfirm">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3">
                <input class="btn btn-success" type="button" ng-click="ctrl.sendRegisterForm()" value="Register">
            </div>
        </div>

    </div>
</div>

<!--poprzednia wersja-->
<!--<div class="row">-->
<!--<div class="col-md-3">-->
<!--<label for="login">Login:</label>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<input class="form-control" type="text" id="login" ng-model="ctrl.registerUser.login">-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-3">-->
<!--<label for="email">Email:</label>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<input class="form-control"  type="text" id="email" ng-model="ctrl.registerUser.email">-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-3">-->
<!--<label for="password">Password:</label>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<input class="form-control" type="password" id="password" ng-model="ctrl.registerUser.password">-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-3">-->
<!--<label for="password-confirm">Password confirmation:</label>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<input class="form-control" type="password" id="password-confirm" ng-model="ctrl.registerUser.passwordconfirm">-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-3">-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<input class="form-control" type="button" ng-click="ctrl.sendRegisterForm()" value="Register">-->
<!--</div>-->
<!--</div>-->
