<div ng-controller="AddTaskCtrl as ctrl">

    <h2>Add new task</h2>
    <div class="container">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-5">
                    <label for="title">Title:</label>
                    <!--</div>-->
                    <!--<div class="col-md-4">-->
                    <input class="form-control" type="text" id="title" placeholder="Task title"
                           ng-model="ctrl.taskAdd.title">
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-5">
                <label for="description">Description:</label>
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <textarea class="form-control" id="description" rows="3" placeholder="Add description"
                ng-model="ctrl.taskAdd.description"></textarea>
                <!--<input class="form-control" type="password" id="description" placeholder="Add description"-->
                       <!--ng-model="ctrl.addTask.description">-->
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5">
                <label for="dueDate">Due date:</label>
                <!--</div>-->
                <!--<div class="col-md-4">-->
                <input class="form-control" type="date" id="dueDate" ng-model="ctrl.taskAdd.dueDate">
            </div>
        </div>


        <div class="form-group">
            <!--<div class="col-md-3"></div>-->
            <div class="col-md-3">
                <input class="btn btn-success" type="button" ng-click="ctrl.addTask()" value="Create task">
            </div>
        </div>
    </div>
</div>